<ul class="nav nav-pills mb-3">
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.url_name == 'overview' %}active{% endif %}"
       href="{% url 'budget:overview' %}">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.url_name == 'accounts' %}active{% endif %}"
       href="{% url 'budget:accounts' %}">Accounts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.url_name == 'pots' %}active{% endif %}"
       href="{% url 'budget:pots' %}">Pots</a>
  </li>
</ul>
